// Agencement des tirages pour le choix des cartes


.span_reponse {

transition: 2s ease-in-out;
  position: absolute;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -5px;
  z-index: 999;

 background-color: aliceblue;
    display: inline-block;
    min-height: 60px;
    min-width: 6ch;
    max-width: 80%;         
    max-height: 200px; 
       border-radius: 0 0 30% 30%;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: black;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid gold;
    box-shadow: 0 2px 1px rgba(35, 36, 36, 0.6);
  
}



.tirage-en-croix {
  position: relative;
  width: 200px;
  height: 200px;

  width: 100%;

  & .carte {
    position: absolute;
    font-size: 3rem;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.8);




  }

  & .position-1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  & .position-2 {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  & .position-3 {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .position-4 {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  & .position-5 {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

.tirage-en-ligne {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
  height: 200px;
  width: auto;
  font-size: 2rem;
  gap: 1rem;

  // Style général des cartes
  .carte {
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // ✅ Cas 1 carte : prend toute la place
  &.carte-1 {
    .carte {
      flex: 1 1 100%;
      font-size: 8rem;
    }
  }

  // ✅ Cas 2 à 5 cartes : s’adaptent à l’espace
  &.carte-2 .carte {
    flex: 1 1 45%;
    font-size: 4rem;
  }

  &.carte-3 .carte {
    flex: 1 1 30%;
    font-size: 3.5rem;
  }

  &.carte-4 .carte {
    flex: 1 1 22%;
    font-size: 3rem;
  }

  &.carte-5 .carte {
    flex: 1 1 18%;
    font-size: 2.5rem;
  }
}
// Agencement des tirages pour les cartes



.animtirage,
.animtiragedos,
.animtirageface {
  position:fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 998;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 @include tirage_croi-paysage;
  & img {
    height: clamp(15vh, 15vw, 300px);
    aspect-ratio: 2 / 3;
    border-radius: 5%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    
  }

  // Carte centrale
  :nth-child(1) {
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
  }

  // Haut
  :nth-child(2) {
        @include Top;
    position: absolute;
    top: calc(50% - 29.8vh);
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
  }

  // Bas
  :nth-child(3) {
    @include Bas;
    position: absolute;
    top: calc(50% + 29.8vh);
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
  }

  // Gauche
  :nth-child(4) {
    @include Gauche;
    position: absolute;
    top: 50%;
    left: calc(50% - 20vh);
    transform: translate(-50%, -50%);
    background-color: black;
  }

  // Droite
  :nth-child(5) {
    @include Droite;
    position: absolute;
    top: 50%;
    left: calc(50% + 20vh);
    transform: translate(-50%, -50%);
    background-color: black;
  }
}

// Animation dos
.animtiragedos {
  @include Decalage_mobile;
  margin-top: -7.5vw;
  margin-left: -5vw;
  & img {
     
    animation: progressifretournedos 3s forwards;
    animation-timing-function: ease-in-out;
  }
}

// Animation face
.animtirageface {
    @include Decalage_mobile;
  margin-top: -7.5vw;
  margin-left: -5vw;
  & img {
     
    animation: progressifretourne 3s forwards;
    animation-timing-function: ease-in-out;
  }
}




//Checkbox pour choix des cartes retrounee

.checkbox-wrapper {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap: 0.5rem;
  cursor: pointer;

  .custom-checkbox {
    display: flex;
    justify-content: center;

    appearance: none;
    width: clamp(35px, 3vw, 32px);
    height: clamp(35px, 3vw, 32px);
    border: 2px solid gold;
    border-radius: 6px;
    background-color: #111;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease;

    &:checked {
      background-color: gold;
      box-shadow: inset 0 0 0 4px #111;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 4px rgba(255, 215, 0, 0.6);
    }

    // Checkmark animation (optionnel)
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 6px;
      height: 12px;
      border: solid black;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg) scale(0);
      top: 2px;
      left: 8px;
      transition: transform 0.2s ease;
    }

    &:checked::after {
      transform: rotate(45deg) scale(1);
    }
  }
}


.inversee {
  transform: rotateX(180deg);
  transition: transform 0.6s ease;
  border: 1px solid red;
}

//fond adaptatif pour choix de cartes

.carte-mod {
  display: flex;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  background-color: rgba(21, 62, 128, 0.6);
  margin: 30px;

  border-radius: 12px;
  border: 1px solid #153e80;
  min-width: 250px;
  min-height: 350px;

  transition: transform 0.3s ease;

  &:hover {

    transform: scale(1.05);
    cursor: pointer;
  }
}


/*//////////////////////////////////// PARTIE ANIMATION  /////////////////////////////////////////////////////////*/

.animligne,.animlignedos,.animligneface {
  position: absolute;
  display: flex;
  flex-direction: row;
  z-index: 999;
  top: 25vw;
  left: 50%;
  transform: translate(-50%, -50%);
justify-content: center;
@include arteligne-mobile;
  & img {
    margin: 3px;
    @include arteligne-mobile_img;
    height: clamp(120px, 80vw, 450px);
    aspect-ratio: 2 / 3;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 5%;
  }
}

.animlignedos {


  & img {
    @include arteligne-mobile_img;

   animation: progressifretournedos 3s forwards;
  animation-timing-function: ease-in-out;
    height: clamp(120px, 80vw, 450px);
border-radius: 5%;
    aspect-ratio: 2 / 3;

    margin: 3px;
  }

}

.animligneface {



  & img {
    @include arteligne-mobile_img;
    animation-name: progressifretourne;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    border-radius: 5%;
  box-shadow:
    0 10px 10px rgba(0, 0, 0, 0.3),   
    0 6px 3px rgba(0, 0, 0, 0.22);
    aspect-ratio: 2 / 3;
   
    height: clamp(120px, 80vw, 450px);
  

    margin: 3px;
  }

}

/////////////////////////////////////////////////////////////////





.questionform {
  position: absolute;
  top: 0;
  left: 0;              
  transform: none;
  margin-top: -5px;
 
  width: 100vw;         
  display: flex;
  justify-content: center; 



  input:focus {
    background-color: white;
    outline: none;
  }
}
.input-wrapper {
  display: flex;             
  justify-content: center;  
  width: 100%;              
z-index: 2;

  .questioninput {
  
    display: inline-block;
    min-height: 60px;
    min-width: 6ch;
    max-width: 80%;         
    max-height: 200px;      
    overflow-y: auto;        
    background-color: white;
    padding: 10px;
    border: 1px solid gold;
    border-radius: 0 0 30% 30%;
    font-weight: bold;
    text-align: center;
  align-content: center;
    white-space: pre-wrap;  
    word-wrap: break-word;  
    outline: none;

    &:empty:before {
      content: attr(data-placeholder);
      color: rgba(0, 0, 0, 0.35);
      pointer-events: none;
    }
  }
}








#carteok {

  border: 1px solid white;
}


#carteretourneesok {


  border: 1px solid rgb(255, 136, 0);
  transform: rotate(180deg);
 animation: flip 3.2s ease-in-out forwards;

}

#carteretourneesokligne {

  border: 1px solid rgb(255, 128, 0);
  transform: rotate(180deg);

   animation: flip 3.2s ease-in-out forwards;

}



//Le css des questions

.fondtirage {
  z-index: 1;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  background: url(../logos/bois.jpg) repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  border: 1px solid gold;
}


#imagebackground {
@include  background_mobile;
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);

  width: 100%;
  height: calc(85vw / 1.414);

  z-index: 1;
   box-shadow: 0 -5px 15px rgba(255, 255, 255, 0.3),  
              0 5px 15px rgba(0, 0, 0, 0.4);       
  transition: all 0.3s ease-in-out;

margin: none;
  background-size: cover;
  background-position: center center;

}





// Le CSS de la réponse En Ligne
.fondtirage_align {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  background: url(../logos/bois.jpg) repeat;
  display: flex;
  flex-direction: row;
  z-index: -1;
}