.ficheAdmin {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;


  & .lien {
    display: flex;
    align-content: flex-end;
    padding: 1rem;
    border-radius: 10%;
    background-color: #4e83d8;
    list-style: none;
    -webkit-text-stroke: 0.2px rgba(172, 9, 9, 0.658);
    color: black;
    font-size: 1rem;
    box-shadow: 1px -1px 1px -1px white;
    background: linear-gradient(180deg,
        rgba(91, 163, 250, 0.5),
        rgba(10, 38, 199, 0.5)),
  }


  & .lien2 {
    display: flex;
    -webkit-text-stroke: 0.1px rgb(209, 205, 241);
    text-shadow: white -1.4px -1px 1px;
    margin-bottom: 0px;
    align-content: center;
    justify-content: center;

    padding: 1rem;


    list-style: none;
    -webkit-text-stroke: 0.2px rgba(172, 9, 9, 0.658);
    color: black;
    font-size: 1rem;
    box-shadow: 0px 1px 1px rgb(17, 17, 17);
    background: linear-gradient(180deg,
        rgba(91, 163, 250, 0.5),
        rgba(10, 38, 199, 0.5)),
  }

  & .fond {
    background-color: #f2f5f8;
    border-radius: 10%;
    padding: 1rem;
    box-shadow: 0px 1px 1px rgb(17, 17, 17);
  }

  & .lien:hover {
    box-shadow: 1px -1px 1px 0.5px black;
    color: white;
    text-shadow: 1px 1px 0.5px white;

  }


  & p:first-child {
    display: inherit;
    -webkit-text-stroke: 0.2px rgba(172, 9, 9, 0.658);
    color: #1d6dee;
    font-size: 1rem;
    background-color: white;

  }

  & .ficheAdmin_haut {
    @include Fiche_Admin_Fichier-Haut;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 2rem;
  }

  & .administration {
    @include Fiche_Admin;
    width: 100%;
    display: flex;
    align-items: flex-start;

  }

  & .createPostPage {

    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    width: 30vw;

    margin-top: 2rem;
    transform: translate(-50% -50%);
    display: flex;

    flex-direction: column;
    border: solid 1px red;
    background: linear-gradient(180deg,
        rgba(91, 163, 250, 0.5),
        rgba(3, 16, 91, 0.5));


    border-radius: 10%;

    & .formContainer2 {

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-content: center;

      max-width: 100vw;
      box-shadow: 0px 1px 1px rgb(17, 17, 17);

      font-weight: 700;


      padding: 3%;
      border: 5px solid hsl(356, 58%, 57%);
      border-radius: 10%;
      background-color: white;
      font-size: 25px;
      margin-top: 3%;
      margin-bottom: 3%;

      & .titre {
        font-size: 2rem;
        margin-bottom: 2%;
        background-color: rgb(248, 246, 242);
      }

      & span {

        color: red;
        font-size: 1rem;
      }

      & label {
        @include Fiche_Admin_Label;
        font-size: 1.5rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

      }

      & form {

        & input {
          margin-bottom: 3%;

          box-shadow: 0px 1px 0.2px rgb(17, 17, 17);
          border: 0.1px solid #2069dd;
        }

        display: flex;
        flex-direction: column;
        text-align: center;

        align-content: center;
      }

    



      & button {
        margin-top: 20%;
        height: 15%;
        width: 100%;
        border-color: #d1515a solid 2px;
        background-color: #2069dd;
        border-radius: 5px;
        color: white;
        font-size: 17px;
        justify-content: center;
        margin-top: 5%;

        & :hover {
          background-color: #153e80;
        }
      }

      & .formContainer2 button:hover {
        cursor: pointer;
        background-color: dodgerblue;
      }

      &.formContainer2 button:active {
        background-color: rgb(102, 248, 89);
      }


    }
  }

  & .indivi {
    display: flex;
    flex-direction: column;

    place-items: center;
    /* background-size: cover; */
    width: 100%;
    margin-right: 2%;
    margin-left: 2%;

    & .renseignement {

      color: white;

    }

    & #retour {
      background-color: #0d11e9;
      width: 20vw;
      margin-top: 0px;
    }

    & button {
      color: white;
      background-color: #d1515a;
    }

    & .post2 {
      @include smartphone-ajustement_post_individuel_corps;
      width: 100%;
      height: auto;
      word-wrap: break-word;
      /*  background: no-repeat, url(../logos/icon.svg); */
      border-radius: 10px;

      margin: 0.5%;

      border: 1px solid #d1515a;
      font-family: Arial, Helvetica, sans-serif;

      box-shadow: rgba(15, 15, 12, 2) 0px 2px 8px 0px;
      border-radius: 15px;
      background-color: white;

      & .title {
        background-color: #122441;
        display: block;
        place-content: center;
        color: white;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 100%;
        padding-bottom: 2%;
        padding-top: 2%;
        box-shadow: rgba(13, 13, 14, 0.2) 0px 7px 29px 0px;
        font-size: 20px;
      }

      & .body {
        display: flex;
        flex-direction: column;

        margin-left: 0%;
        margin-right: 0%;

        font-weight: 500;
        background-color: #f7fdfd;
        color: black;
        white-space: pre-line;

        & .lien {
          width: 100%;
          height: 100%;

          & img {
            width: 100%;
            height: 100%;
          }
        }
      }

      & .footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 2%;
        padding-top: 2%;
        align-items: center;

        background-color: #122441;
        color: white;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }
    }

    & .post2:hover {
      box-shadow: rgba(248, 248, 250, 0.2) 0px 7px 29px 0px;
      cursor: pointer;
    }

    & .addCommentContainer input,
    & button {
      margin-top: 2%;
      width: 50%;
      height: 100%;
      border-radius: 8px;
      color: rgb(248, 240, 240);

      & :hover {
        background-color: #a9a2eb;
      }
    }

    button {
      background-color: #d1515a;
      width: 100%;

      & :hover {
        background-color: #83050e;
        width: 110%;
      }
    }

    & .addCommentContainer button {
      background-color: dodgerblue;
      color: white;
      width: 100%;
    }

    & .addCommentContainer input {
      border: 2px solid dodgerblue;
    }

    & .listOfComments {
      display: flex;
      flex-direction: column-reverse;
    }

    & .listOfComments .comment {
      width: 100%;
      height: 100%;
      padding: 30px;
      white-space: pre-line;
      border: 1px solid #d1515a;
      border-radius: 5px;
      margin-top: 20px;
      background-color: aliceblue;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      font-size: 25px;
      gap: 15px;
      background-color: #1a50a7;
      background-position: center bottom, left top;
      background-repeat: repeat;
      color: white;
    }

    & #individual .footer {
      font-size: 30px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      width: 100%;
    }

    & #individual .body {
      display: flex;
      height: 100%;
      width: 100%;
      text-align: center;
    }

  }

}

//Decalage de la photo
.photo {
  height: 8rem;
  width: 6rem;
  border: solid 4px rgb(231, 225, 225);

  & img {
    height: 8rem;
    width: 6rem;
    border: solid 4px red;


  }

}